$width: 140px;
$half:calc(50% - 140px / 2);
.ScanPage {
  #UploadWrapper {

  }
  #ScannedImageDisplay {

  }
  #funnyMessage {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 26px;
  }
  #ScannedImage {
    max-width: 350px;
    width: calc(100% - 30px);
  }
    #ScanReceiptButton {
        border-radius: 50%;
        width:$width;
        height:$width;
        font-size: 30px;
        //background-color: #92d966;
        //color:#fefefe;

    }
  #UploadDiv {
    position: absolute;
    height:140px;
    top:$half;
    left:$half;
    width: 150px;
  }

}
