$width: 140px;
$half:calc(50% - 140px / 2);
.ScanPage {
  #UploadWrapper {

  }
    #ScanReceiptButton {
        border-radius: 50%;
        width:$width;
        height:$width;
        font-size: 30px;
        //background-color: #92d966;
        //color:#fefefe;

    }
  #UploadDiv {
    position: absolute;
    top:$half;
    left:$half;
    width: 150px;
  }
}
